---
layout: landing
---
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>{{ site.title }}</h2>
        <p class="banner__content">
            <span>Front-end developer@Emakina.FR</span>
            <span><strong>#MagentoCluster</strong></span>
        </p>
        <ul class="actions">
            <li><a href="/post" class="button special">Posts</a></li>
        </ul>
    </div>
    <a href="#one" class="more scrolly">About Me ?</a>
</section>

<!-- One -->
<section id="one" class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>Welcome to the hell… Welcome in my Head!</h2>
            <p>  Senior Front-end certified in Magento2 💪 <br/> I'm working at Emakina.FR and I love my job!️</p>
            <p>As I always say, when you are a developer the community gives you a lot, so it's important to me to give
                it back. That's why I decide to share my experience and my thoughts about my work with you.</p>
            <p><strong>[TL;DR] Quick Summary</strong> <br/>I'm a passionate developer and love technical challenges.
                During my free time I am play to Word of Warcraft, cooking some muffins, watching too much stupid TV
                shows, going to shopping and of course hugging my little pug.  </p>

        </header>
        <ul class="actions">
            <li><a href="/about" class="button special">See More</a></li>
        </ul>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>My Journey</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend
                fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
        </header>
        <ul class="features">
            <li>
                <i class="icon fas fa-crown"></i>
                <header>
                    <h3>Senior Front-end</h3>
                    <p> April 2015 - Now</p>
                </header>
                <p>I joined the Emakina.FR team more than three years ago. As a front-end developer, I develop my
                    expertise on Magento2 and improvement processes thanks to luxury brands.</p>
            </li>
            <li>
                <i class="icon fas fa-graduation-cap"></i>
                <header>
                    <h3>Speaker Front-end</h3>
                    <p>September 2017 - Now</p>
                </header>
                <p>The front-end developer is performing well thanks to the community. It is thus crucial to helpthe
                    new generation to develop. That's why I give them the basics in HTML5 and CSS3.</p>
            </li>
            <li>
                <i class="icon fab fa-magento"></i>
                <header>
                    <h3>M2 Front End Developer</h3>
                    <p>Novembre 2019</p>
                </header>
                <p><a href="https://u.magento.com/certification/directory/dev/3144796/">#7952861</a></p>
            </li>
            <li>
                <i class="icon fas fa-star"></i>
                <header>
                    <h3>Best Practice V3 @Opquast</h3>
                    <p>December 2015</p>
                </header>
                <p><a href="https://certified.opquast.com/certificate/AUML4B/">#AUML4B</a></p>
            </li>
        </ul>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper list style2">
    <div class="inner">
        <header class="major">
            <h2>Lasts Posts</h2>
        </header>
    {% assign size = site.posts | size %}
    {% if size > 1 %}
    </div>

    <div class="spotlight__container">
        {% for post in site.posts limit:4%}
        <section class="spotlight">
            <div class="image"><img src="{{ post.image }}" alt=""/></div>
            <div class="content">
                <header>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.date | date_to_string}}</p>
                </header>
                <p>{{ post.excerpt }} ...</p>
                <a href="{{ post.url }}">See More</a>
            </div>
        </section>
        {% endfor %}
    </div>

    <div class="inner">
        <ul class="actions">
            <li><a href="/posts" class="button special">See All</a></li>
        </ul>
    {% else %}
    <img src="/images/soon.svg" alt="" style="width:60%">
    {% endif %}
    </div>

</section>
